<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Product</title>
    <link type="text/css" rel="stylesheet" href="../../Content/Style.css" />
</head>
<body>
    <div>
        <div class="header">
            <h1 class="headerBlock">@ViewBag.Title</h1>
            <a class="headerBlock" href="~/Product/GetProducts/">Главная</a>
            <a class="headerBlock" href="~/Product/Register/">Регистрация</a>
            <a class="headerBlock" href="~/Product/Login/">Вход</a>
        </div>
    </div>
</body>
</html>
