<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="../../Content/Style.css" />
</head>
<body>
    <div>
        <div class="header">
            <h1 class="headerBlock">@ViewBag.Title</h1>
            <a class="headerBlock" href="~/Product/GetProducts/">Главная</a>
            <a class="headerBlock" href="~/Product/AddProduct/">Добавить товар</a>
            <a class="headerBlock" href="~/Product/Register/">Регистрация</a>
        </div>
        <div class="main">
            <div><span>Вход</span></div>
            <div><input placeholder="Логин" class="inputData mainText"></div>
            <div><input placeholder="Пароль" class="inputData mainText"></div>
            <div><button class="button mainText">Войти</button></div>
        </div>
    </div>
</body>
</html>
